.footer
  .footer__one
  .footer__two
  .footer__three
  .footer__four
  .footer__service_name
    ハピテク｜HAPPY TAKEOUT
  .footer__management
    ​運営元：株式会社プレシャスパートナーズ
  .footer__terms
    掲載規約
  .footer__five
  .footer__six
  .footer__seven
  .footer__eight