// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(99, 97, 97);
}

ul {
  list-style: none;
}
li{
  list-style: none;
}

.header{
  background-color: #f8f8f8;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  box-shadow:0px 0px 10px;
  border-bottom:1px solid  rgb(250, 246, 246);
  #main{
    .menu{
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      padding: 0px 200px;
      #header__button{
        color: black;
      }
      &__small_box{
        padding-left: 40px;
        text-align: center;
        position: relative;
        .sub{
          background-color: #f8f8f8;
          padding-left: 0px;
          box-shadow:0px 0px 10px;
          border:1px solid  rgb(241, 241, 241);
          position: absolute;
          top: 25px;
          left: 0px;
          width: 210px;
          font-size: 15px;
          text-align: center;
          &--each_box{
            border-bottom: 1px solid  rgb(163, 163, 163);
            color: black;
          }
        }
      }
    }
  }
}
.background{
  background-color: #f8f8f8;
  position: relative;
  .main_box{
    background-color: #fff;
    margin: 100px auto 0px;
    width: 900px;
    .top_box{
      background-color: rgba(255, 200, 36, 1);
      position: relative;
      &__one{
        height: 100%;
        width: 7px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 20px;
      }
      &__two{
        height: 100%;
        width: 12px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 32px;
      }
      &__three{
        height: 100%;
        width: 7px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 49px;
      }
      &__four{
        height: 100%;
        width: 7px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 840px;
      }
      &__five{
        height: 100%;
        width: 12px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 852px;
      }
      &__six{
        height: 100%;
        width: 7px;
        background-color: #fff;
        position: absolute;
        top: 0px;
        left: 870px;
      }
      &__one_sentence{
        font-size: 22px;
        text-align: center;
        padding-top: 50px;
      }
      &__title{
        border: solid 7px black;
        border-radius: 1em;
        text-align: center;
        margin: 30px 260px 0px 260px;
        background-color: #fff;
        &--up_box{
          font-size: 60px;
          font-weight: 900;
          margin-top: 10px;
        }
        &--down_box{
          font-size: 20px;
          font-weight: 900;
          margin-bottom: 30px;
        }
      }
      &__tokyo{
        text-align: center;
        font-family: rodin-demi-bold,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
        color: #555555;
        font-size: 32px;
        padding-bottom: 20px;
      }
    }
    .change_box{
      padding: 30px 160px;
      &__fight{
        font-family: メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
        text-align: center;
        font-size: 20px;
        color: #555555;
      }
      &__area{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        &--aiti{
          border: solid 3px rgba(255, 200, 36, 1);
          padding: 7px 60px;
          &--link_to{
            color: black;
            font-weight: 600;
          }
        }
        &--osaka{
          border: solid 3px rgba(255, 200, 36, 1);
          padding: 7px 60px;
          &--link_to{
            color: black;
            font-weight: 600;
          }
        }
        &--hukuoka{
          border: solid 3px rgba(255, 200, 36, 1);
          padding: 7px 60px;
          &--link_to{
            color: black;
            font-weight: 600;
          }
        }
      }
    }
    .explain_box{
      display: flex;
      margin: 0px 40px;
      &__bag_illustration{
        position: relative;
        &--hapiteku{
          position: absolute;
          top: 90px;
          left: 92px;
          font-weight: 900;
          font-size: 30px;
        }
        &--toha{
          position: absolute;
          top: 130px;
          left: 120px;
          font-weight: 900;
          font-size: 25px;
        }
      }
      &__content{
        padding-top: 30px;
        &--top_sentence{
          background-color: #FFE0E3;
          font-size: 20px;
          color: #555555;
        }
        &--bottom_sentence{
          font: normal normal normal 15px/1.4em 'メイリオ',meiryo,'ヒラギノ角ゴ pro w3','hiragino kaku gothic pro',sans-serif;
          color: #323232;
          font-size: 20px;
        }
      }
    }
    .one_sentence_box{
      border: solid 5px rgba(255, 200, 36, 1);
      border-radius: 30px;
      margin: 20px 100px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      background-color: rgba(255, 183, 0, 0.393);
      &--first_phrase{
        font-family: rodin-demi-bold,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
        color: #000000;
        font-size: 22px;
        font-weight: 900;
      }
      &--second_phrase{
        font-family: rodin-demi-bold,ms gothic,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,osaka,sans-serif;
        color: #E01616;
        font-size: 22px;
        font-weight: 900;
      }
    }
    .illustration_box{
      display: flex;
      justify-content: space-between;
      margin: 40px 40px;
      &__left_box{
        &--word{
          text-align: center;
          font-weight: 900;
          margin-bottom: 20px;
        }
        &--human_illustration{
          position: relative;
          &--take_out{
            position: absolute;
            top: 70px;
            left: 59px;
            font-weight: bold;
          }
        }
      }
      &__plus{
        padding-top: 50px;
        font-size: 60px;
        font-weight: bold;
      }
      &__center_box{
        &--word{
          text-align: center;
          font-weight: 900;
          margin-bottom: 20px;
        }
      }
      &__arrow{
        padding-top: 70px;
        font-size: 40px;
        font-weight: bold;
      }
      &__right_box{
        &--words{
          text-align: center;
          font-weight: 900;
        }
      }
    }
    .covid_19_warming{
      background-color: rgb(239, 237, 237);
      margin: 30px 40px;
      text-align: center;
      font-size: 15px;
      padding: 20px 0;
      color: #555555;
    }
  }
.area_map {
  border-top: 4px dotted rgba(0, 0, 0, 1);
  background-color: #fff;
  width: 900px;

  &__finding_shop {
    letter-spacing: 5px;
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(255, 200, 36, 1);
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    left: 220px;
    padding: 7px 10px;
    width: 420px;
    height: 45px;
    font-size: 25px;
    text-align: center;
  }

  &__finding_shop:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid rgba(255, 200, 36, 1);
  }

  img {
    max-width: 100%;
   }
  
  &__each_area ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
  }
  
  &__each_area li {
    height: 200px;
    width: 180px;
    margin: 10px;
  }

  &__all_map {
    width: 580px;
    height: 380px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
.application {
  width: 900px;
  border-top: 4px dotted rgba(0, 0, 0, 1);
  padding-bottom: 50px;
  &__title {
    letter-spacing: 5px;
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(255, 200, 36, 1);
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    left: 220px;
    padding: 7px 10px;
    width: 420px;
    height: 45px;
    font-size: 25px;
    text-align: center;
  }

  &__title:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid rgba(255, 200, 36, 1);
  }

  &__content {
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
    margin-bottom: 30px;
  }

  &__info {
    width: 568px;
    height: 464px;
    font-size: 25px;
    line-height: 1.6em;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    box-shadow:0px 0px 10px;
    border:1px solid #000;
  }

  &__info__link {
    width: 487px;
    height: 147px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    border: solid;
    border-color: #C0C0C0;
    border-radius: 10px;

    img {
      max-width: 100%;
     }
      
      &--line {
        width: 85px;
        height: 86px;
        position: absolute;
        top: 30px;
        left: 30px
      }

      &--symbol {
        width: 85px;
        height: 86px;
        background-color: #fff;
        position: absolute;
        top: 30px;
        left: 130px;
      }
  }
      &__info__link__box {
        width: 250px;
        height: 86px;
        position: absolute;
        top: 40px;
        left: 210px;

        &--text{
          font-size: 20px;
          font-weight: bold;
          text-align: left
        }

        &--url {
          font-size: 15px;
          text-align: left
        }
      }

      &__info__link__qr {
        width: 147px;
        height: 155px;
        position: absolute;
        top: 180px;
        left: 170px;
        img {
          max-width: 100%;
         }
      }

      &__info__link__text {
        width: 200px;
        height: 10px;
        font-size: 12px;
        position: absolute;
        top: 305px;
        left: 150px;
      }
      
      &__calling {
        height: 62px;
        min-height: 22px;
        width: 360px;
        margin: 0 auto;
        margin-top: 35px;
        text-align: center;
        color: rgb(168, 82, 88);
        cursor: pointer;
        border-color: #FFD5EC;
        background-color: #FFD5EC;
        border-radius: 20em;
        box-shadow: 10px 10px;
        border:1px solid;
        line-height: 50px;
        position: relative;
      }

      &__mail {
        height: 40px;
        width: 50px;
        position: absolute;
        top: 10px;
        left: 15px;
        img {
          max-width: 100%;
         }
      }
    }
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #FFD700;
  
  &__one, &__eight {
    height: 8px;
    background-color: #FFD700;
  }

  &__two, &__seven {
    height: 8px;
    background-color: #fff;
  }

  &__three, &__six {
    height: 4px;
    background-color: #FFD700;
  }

  &__four, &__five {
    height: 4px;
    background-color: #fff;
  }

  &__service_name {
    height: 25px;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
   }
   &__management, &__terms {
    height: 25px;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
  }
}